In [16]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#url defines
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"

In [3]:
reviews = [] #colecting reviews data 
stars = []   #colecting stars data
reviews = []  #colecting reviews data
country = []  #colecting country data
created_at =[] #colecting date data

In [11]:
 #Iterating over website pages to find required attributes
pages = 10
page_size = 100


base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []
stars = []
reviews = []
country = []
created_at =[]

for i in range(1, pages+1):
    page = requests.get(f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        created_at.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))
    print(f"   ---> {len(reviews)} total reviews")
    print(f"   ---> {len(stars)} total stars")
    print(f"   ---> {len(created_at)} total date")
    print(f"   ---> {len(country)} total country")

   ---> 100 total reviews
   ---> 101 total stars
   ---> 100 total date
   ---> 100 total country
   ---> 200 total reviews
   ---> 202 total stars
   ---> 200 total date
   ---> 200 total country
   ---> 300 total reviews
   ---> 303 total stars
   ---> 300 total date
   ---> 300 total country
   ---> 400 total reviews
   ---> 404 total stars
   ---> 400 total date
   ---> 400 total country
   ---> 500 total reviews
   ---> 505 total stars
   ---> 500 total date
   ---> 500 total country
   ---> 600 total reviews
   ---> 606 total stars
   ---> 600 total date
   ---> 600 total country
   ---> 700 total reviews
   ---> 707 total stars
   ---> 700 total date
   ---> 700 total country
   ---> 800 total reviews
   ---> 808 total stars
   ---> 800 total date
   ---> 800 total country
   ---> 900 total reviews
   ---> 909 total stars
   ---> 900 total date
   ---> 900 total country
   ---> 1000 total reviews
   ---> 1010 total stars
   ---> 1000 total date
   ---> 1000 total country

In [12]:
#check data length
len(reviews)

1000

In [14]:
stars =stars[:1000]

In [15]:
len(stars)

1000

In [18]:
#creating data frames using pandas library
df = pd.DataFrame({"reviews":reviews,"stars": stars, "created_at":created_at, "country": country})

In [19]:
#check dataframe
df.head()

,reviews,stars,created_at,country
0,Not Verified | Although all four flights were ...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,26th August 2024,United Kingdom
1,✅ Trip Verified | Flight changed just one da...,9,26th August 2024,United Kingdom
2,Not Verified | Delayed flight 1 hour. Arbitrar...,1,25th August 2024,United Kingdom
3,Not Verified | Flown with BA four times. As an...,2,25th August 2024,United Kingdom
4,✅ Trip Verified | You may never see your ref...,10,22nd August 2024,United States

In [20]:
df.tail()

,reviews,stars,created_at,country
995,✅ Trip Verified | London Heathrow to Larnaca....,3,27th June 2019,United Kingdom
996,✅ Trip Verified | BA 2616 and 2617 return tri...,9,26th June 2019,United Kingdom
997,✅ Trip Verified | Heathrow to Kalamata. Heath...,2,26th June 2019,United Kingdom
998,✅ Trip Verified | London to Gothenburg. Uniqu...,10,24th June 2019,United Kingdom
999,✅ Trip Verified | Amsterdam to London on 15th...,1,24th June 2019,Australia

In [21]:
#creating a csv file for analysis
df.to_csv("British_Airway_Analysis.csv")

In [22]:
df.shape

(1000, 4)